.app {
  text-align: center;
}

.appointment_times {
  margin: 0 auto;
  width: 50%;
  border: 2px lightblue solid;
  cursor: pointer;
}

.time_font {
  color: navy;
  font: bold 18px Arial;
}

.time {
  border: 1px lightblue solid;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time:hover {
  background-color: #eee;
}

.taken_time{
  color: white;
  background-color: red;
}

.taken_time:hover {
  background-color: #f66;
}

@media only screen and (max-width: 600px) {
  .appointment_times {
    margin: 0 auto;
    width: 95%;
  }
}